* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-bg: #10375c;
    --primary-color-1: #2e80ce;
}

html {
    /* 100% = 10px = 1rem => 1.6 rem = 16px (default) = 62.5 % */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common=========================================== */
.container {
    width: 1170px;
    /* common put 24px for left & right side */
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    border: none;
    display: inline-block;
    min-width: var(--width, 205px);
    height: var(--height, 60px);
    background-color: var(--primary-color-1);
    border-radius: 999px;

    font-weight: 400;
    font-size: var(--font-size, 1.8rem);
    line-height: var(--line-height, 60px);
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: var(--primary-bg);
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

/* header-top============================================*/
.header {
    background: var(--primary-bg);
}

.header-fixed {
    position: sticky;
    top: -20px;
    z-index: 1;
    background: var(--primary-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 10px;
}

/* logo */
.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    border-radius: 50%;
    content: "";
    display: inline-block;
}

.logo__circle::before {
    width: 3rem;
    height: 3rem;
    background: var(--primary-color-1);
}

.logo__circle::after {
    position: absolute;
    top: 1.1rem;
    left: 1.1rem;
    width: 1.6rem;
    height: 1.6rem;
    background: #fff;
}

.logo__text {
    margin-left: 0.6rem;
    text-align: right;
    line-height: 1.6rem;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8rem;
    color: #ffffff;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2rem;
}

/* navbar */
.navbar__list {
    display: flex;
}

.navbar__item {
}

.navbar__link {
    padding: 8px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
    transition: 0.5s;
}

.navbar__link--active,
.navbar__link:hover {
    color: #fff;
    text-shadow: 0 0 1px currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    left: -8px;
    top: -2px;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}

/* header-action */
.header-action {
    display: flex;
}
.header-action_signup {
    margin-left: 7px;
    --width: 104px;
    --height: 44px;

    --font-size: 16px;
    --line-height: 28px;
}

/* header-bottom ========================================*/
.header-bottom {
    padding: 66px;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-left: 38px;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* services==================================== */
.services {
    margin: 170px 0;
    background: #fff;
}

.services__heading {
    text-align: center;
}

.services__desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 468px;
}

.services__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

/* services item */
.services-item {
    display: flex;
    width: 470px;
    height: 128px;
    padding: 21px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.services-item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    color: var(--primary-bg);
    transition: 0.5s;
}

/* @@ hover */
.services-item:hover,
.services-item-active {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    cursor: pointer;
}
.services-item:hover .services-item__img,
.services-item-active .services-item__img {
    background: var(--primary-color-1);
    color: #fff;
}
/* hover @@  */

.services-item__body {
    margin-left: 19px;
}

.services-item__body--heading {
    color: var(--primary-bg);
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__body--desc {
    margin-top: 8px;
    width: 308px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.services-action {
    margin-top: 75px;
}

/* how to work ===================================*/
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work .section-desc {
    width: 468px;
    text-align: left;
}

.work-list {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 43px;
    transition: 0.5s;
}

.work-item:hover {
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    transition: 0.5s;
}

.work-item__more:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px currentColor;
}
